{{ title }}

<br />

<p
  [ngClass]="{
    'red': true,
    'small': false
  }"
  [class.bold]="isBold"
>{{ title | slice: 2 }}</p>

<br />

{{ count | number: "1.6-7" }}

<br />

in template {{ cardExp | cardExp }}

<br />

in ts file {{ cardExpFormatted }}

<br />

<!-- <p>{{ "languages.hello" | translate }}</p> -->

<div *ngIf="!isLoggedIn; else notAuthorized">
  <button
    *ngIf="isLogin"
    class="btn"
    style="color: red"
    [style.background]="'red'"
    [ngStyle]="{
      'color': isSuccess ? 'green' : 'red'
    }"
    [disabled]="disabled"
    (click)="toggle()"
  >Login</button>
  <button
    *ngIf="!isLogin"
    [style.background]="'red'"
    [ngStyle]="{ 'color': 'white' }"
    [disabled]="disabled"
    (click)="toggle()"
  >Register</button>
</div>

<ng-template #notAuthorized>
  <p>welcome</p>
</ng-template>

<ul>
  <li *ngFor="let name of names">
    {{ name }}
    <button (click)="remove(name)"> X</button>
  </li>
</ul>

<hr>

<div [ngSwitch]="selectedStatus">
  <ng-template [ngSwitchCase]="STATUSES.warning">
    <p>warning</p>
  </ng-template>
  <ng-template [ngSwitchCase]="STATUSES.success">
    <p>success</p>
  </ng-template>
  <ng-template ngSwitchDefault>
    <p>default case</p>
  </ng-template>
</div>




